body {
  margin: 0;
  padding: 0;
}

.color1 {
  border-top-left-radius: 7%;
  border-top-right-radius: 7%;
  width: 100%;
  height: 10vh;
  background-color: red;
}
.color2 {
  width: 100%;
  height: 10vh;
  background-color: chocolate;
}
.color3 {
  width: 100%;
  height: 10vh;
  background-color: gold;
}
.color4 {
  width: 100%;
  height: 10vh;
  background-color: green;
}
.color5 {
  width: 100%;
  height: 10vh;
  background-color: darkturquoise;
}
.color6 {
  width: 100%;
  height: 10vh;
  background-color: blue;
}

.color7 {
  width: 100%;
  height: 10vh;
  background-color: deeppink;
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
}

.regenbogen-vertikal {
  margin-top: 10px;
}

.vertikal-color1 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: red;
}

.vertikal-color2 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: chocolate;
}
.vertikal-color3 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: gold;
}
.vertikal-color4 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: green;
}
.vertikal-color5 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: darkturquoise;
}
.vertikal-color6 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: blue;
}

.vertikal-color7 {
  display: inline-block;
  float: left;
  width: 50px;
  height: 200px;
  background-color: fuchsia;
}
